{{ define "mattermost.default.message" }}
{{ range .Alerts }}
**Alert:** {{ .Labels.alertname }}
**Status:** {{ .Status | toUpper }}
**Severity:** {{ .Labels.severity }}
**Description:** {{ .Annotations.description }}
{{ end }}
{{ end }} 